{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="container">
            <h1>Add review</h1>
        </div>
        <form class="col s12" method="POST" action="{{ url_for('reviews.add_review') }}">
            <div class="container">
                <!-- Book title -->
                <div class="input-field col s12">
                    <input type="text" name="book_title" id="book_title" class="validate" minlength="2"
                        required>
                    <label for="book_title">Book title</label>
                </div>
                <!-- Book author -->
                <div class="input-field col s12">
                    <input type="text" name="book_author" id="book_author" class="validate" minlength="5"
                        required>
                    <label for="book_author">Book author</label>
                </div>
                <!-- Book review -->
                <div class="input-field col s12">
                    <textarea id="book_review" name="book_review" class="materialize-textarea validate" minlength="2"
                    pattern="^[0-9]{2,50}$"></textarea>
                    <label for="book_review">Book review</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}