{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Contact us</h1>
        <p>Thanks for wanting to get in touch. If you have any 
            feedback to help us improve this app: please let
            us know below! We'll try and get back to you as soon
            as possible.
        </p>
        <form id="contact-form" onsubmit="return validateForm()" name="contactForm" novalidate>
            <div id="name-error" class="text-center"></div>
            <div class="input-field col s12">
                <input type="text" id="fromName" class="validate" name="fromName">
                <label for="fromName" class="black-text">Your name</label>
            </div>
            <div id="email-error" class="text-center"></div>
            <div class="input-field col s12">
                <input type="email" id="email" name="email" class="validate">
                <label for="email" class="black-text">Your email address</label>
            </div>
            <div id="msg-error" class="text-center"></div>
            <div class="input-field col s12">
                <textarea id="message" class="validate materialize-textarea"></textarea>
                <label for="message" class="black-text">Your message</label>
            </div>
            <button type="submit" class="black-text validate btn waves-effect waves-light green" id="message-button" class="black-text">Send message</button>
        </form>
    </div>
{% endblock %}