{% extends "base.html" %}
{% block content %}        
    <!-- Stack cards -->
    <main>
        <h1 class="page-headers">Dashboard</h1>
        <section class="grid-container">
                <!-- First card -->
                <div id="first-card" class="col s12 m6 white grid-card" id="stack-card-left">
                    <div class="to-read-stack">
                        <h2 class="stack-header">Next book to read</h2>
                        <a class="tooltipped white add-icon" data-position="top" data-tooltip="Add new book" href="{{ url_for('books.add_book') }}">
                            <i class="material-icons card-icons" aria-describedby="Add new book">add</i>
                        </a>
                        <a class="tooltipped white add-icon" data-position="top" data-tooltip="See all books" href="{{ url_for('main.stack') }}">
                            <i class="material-icons card-icon-see-more" aria-describedby="See all books">more_horiz</i>
                        </a>
                    </div>
                    <!-- Display first 3 books -->
                    <div class="card-grid-container">
                        {% for book in books if book.added_by == session.user %}
                            {% if book.is_read == "no" %}
                            <!-- Credit for looping method: Ansible -->
                                {%- if loop.first %}
                                    <div class="book-in-card row">
                                        <div class="col s12 m4">
                                            <img class="book-cover"
                                            src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                                            alt="{{ book.book_title }} cover">
                                        </div>
                                        <div class="col s12 m8">
                                            <h3 class="book-title"><strong>{{ book.book_title }}</strong></h3>
                                            <p class="book-author">{{ book.book_author }}</p>
                                            <a href="{{ url_for('books.edit_book', book_id=book._id) }}" 
                                            class="edit-button book-button green lighten-3 waves-effect waves-light btn-small">Edit</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Second card -->
                <div id="second-card" class="col s12 m6 grid-card white">
                    <h2 class="stack-header">Challenge to finish</h2>
                    <a class="tooltipped white add-icon" data-position="top" data-tooltip="Add new challenge" href="{{ url_for('challenges.add_challenge') }}">
                        <i class="material-icons card-icons" aria-describedby="Add new challenge">add</i>
                    </a>
                    <a class="tooltipped white add-icon" data-position="top" data-tooltip="See all challenges" href="{{ url_for('main.challenge') }}">
                        <i class="material-icons card-icon-see-more" aria-describedby="See all challenges">more_horiz</i>
                    </a>
                    {% for challenge in challenges if challenge.added_by == session.user %}
                        {% if challenge.is_complete == "no" %}
                            {%- if loop.last %}
                                <div class="challenge-in-card">
                                    <p class="challenge-title"><strong>{{ challenge.challenge_name }}</strong></p>
                                    <a href="{{ url_for('challenges.edit_challenge', challenge_id=challenge._id) }}"
                                        class="edit-button green lighten-3 waves-effect waves-light btn-small">Edit</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Third card -->
                <div id="third-card" class="col s12 grid-card white" id="stack-card-full">
                    <h2 class="stack-header">Your last review</h2>
                    <a class="tooltipped white add-icon" data-position="top" data-tooltip="Add new review" href="{{ url_for('reviews.add_review') }}">
                        <i class="material-icons card-icons" aria-describedby="Add new review">add</i>
                    </a>
                    <a class="tooltipped white add-icon" data-position="top" data-tooltip="See all reviews" href="{{ url_for('main.review') }}">
                        <i class="material-icons card-icon-see-more" aria-describedby="See all reviews">more_horiz</i></a>
                    {% for review in reviews if review.added_by == session.user %}
                        {%- if loop.last %}
                            <div class="review-in-card">
                                <p class="review-title"><strong>{{ review.book_title }}</strong></p>
                                <p class="review-author">{{ review.book_author }}</p>
                                <p class="review"><em>"{{ review.book_review }}"</em></p>
                                <a href="{{ url_for('reviews.edit_review', review_id=review._id) }}"
                                class="edit-button green lighten-3 waves-effect waves-light btn-small">Edit</a>
                                    
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        </section>
    </main>
{% endblock %}