{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="container">
            <h1>Edit book details</h1>
        </div>
        <form class="col s12" method="POST" action="{{ url_for('books.edit_book', book_id=book._id) }}">
            <div class="container">
                <!-- Book title -->
                <div class="input-field col s12">
                    <input type="text" name="book_title" id="book_title" class="validate" minlength="2"
                        value="{{ book.book_title }}" required>
                    <label for="book_title" class="black-text">Book title</label>
                </div>
                <!-- Book author -->
                <div class="input-field col s12">
                    <input type="text" name="book_author" id="book_author" class="validate" minlength="5"
                        value="{{ book.book_author }}" required>
                    <label for="book_author" class="black-text">Book author</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="isbn" id="isbn" class="validate" minlength="2"
                        value="{{ book.isbn }}" required>
                    <label for="isbn" class="black-text">ISBN</label>
                </div>
                <!-- Switch -->
                <div class="switch">
                    <label for="read_status">
                        <input type="checkbox" id="read_status" name="read_status">
                        Unread
                        <span class="lever"></span>
                        Read
                    </label>
                </div>
                <p>Please note: To update your review of this book, head over to Reviews.</p>
                <button class="stack-btn edit-button green lighten-3 waves-effect waves-light btn" id="add_book" type="submit"
                    name="action">Submit changes</button>
                <a href="{{ url_for('main.dashboard') }}" class="btn">Cancel changes</a>
                <a href="{{ url_for('books.delete_book', book_id=book._id) }}" class="waves-effect waves-light btn red">Delete book</a>
            </div>
        </form>
    </div>
{% endblock %}