{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="container">
            <h1>Add challenge</h1>
        </div>
        <form class="col s12" method="POST" action="{{ url_for('challenges.edit_challenge', challenge_id=challenge._id) }}">
            <div class="container">
                <!-- Book title -->
                <div class="input-field col s12">
                    <input type="text" name="challenge_name" id="challenge_name" class="validate" minlength="2"
                        value="{{ challenge.challenge_name }}" required>
                    <label for="challenge_name" class="black-text">Your challenge</label>
                </div>
                <!-- Switch -->
                <div class="switch">
                    <label for="complete_status" class="black-text">
                        <input type="checkbox" id="complete_status" name="complete_status">
                        Not done yet
                        <span class="lever"></span>
                        Completed
                    </label>
                </div>
                <!-- Submit button-->
                <button class="stack-btn green waves-effect waves-light btn black-text" id="edit_challenge" type="submit"
                    name="action">Submit changes</button>
                    <a href="{{ url_for('main.dashboard') }}" class="stack-btn btn waves-effect waves-light black-text">Cancel changes</a>
                    <a href="{{ url_for('challenges.delete_challenge', challenge_id=challenge._id) }}" class="stack-btn waves-effect waves-light btn red black-text">Delete challenge</a>
            </div>
        </form>
    </div>
{% endblock %}