{% extends "base.html" %}
{% block content %}
    <!-- Registration form -->
    <div class="container">
        <h1>Sign up today</h1>
        <div class="row">
            <form enctype="multipart/form-data" class="col s12" method="POST" action="{{ url_for('authentication.register') }}">
                <div class="row">
                    <!-- Username -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="username" id="username" class="validate" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="username" class="black-text">Username</label>
                    </div>
                    <!-- Password -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" name="password" id="password" class="validate" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="password" class="black-text">Password</label>
                    </div>
                    <!-- User profile image -->
                    <div class="input-field col s12">
                        <div class="profile-label">Your profile picture:</div>
                        <input type="file" name="user_image" class="form-control validate" id="user_image" required>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit button -->
                    <button class="btn waves-effect waves-light green lighten-1 black-text" id="register-form-btn" type="submit"
                        name="action">Register</button>
                    <a class="form-redirect-query black-text" href="{{ url_for('authentication.login') }}">Already registed? Log in</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}