{% extends "base.html" %}
{% block content %}
    <h1 class="page-headers">Reviews</h1>
    <div class="col s12 grid-card white full-card">
        <h2 class="stack-header">Your reviews</h2>
        <a class="tooltipped white add-icon" data-position="top" data-tooltip="Add new review" href="{{ url_for('reviews.add_review') }}">
            <i class="material-icons card-icons">add</i>
        </a>
        {% for review in reviews if review.added_by == session.user %}
            <div class="row review-in-card">
                <div class="col s12 m6">
                    <p class="review-in-page"><em>"{{ review.book_review }}"</em></p>
                </div>
                <div class="col s12 m6">
                    <p class="review-title"><strong>{{ review.book_title }}</strong></p>
                    <p class="review-author">{{ review.book_author }}</p>
                    <a href="{{ url_for('reviews.edit_review', review_id=review._id) }}"
                        class="stack-btn edit-button green lighten-3 waves-effect waves-light btn-small">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}