{% extends "base.html" %}
{% block content %}
    <h1 class="page-headers">Your books:</h1>
    <div class="col s12 grid-card white full-card">
        <div class="to-read-stack">
            <a class="tooltipped white add-icon" data-position="top" data-tooltip="Add new book" href="{{ url_for('books.add_book') }}">
                <i class="material-icons card-icons">add</i>
            </a>
            <a class="tooltipped white add-icon" data-position="top" data-tooltip="See all books" href="{{ url_for('main.stack') }}">
                <i class="material-icons card-icon-see-more">more_horiz</i>
            </a>
        </div>
        {% for book in books if book.added_by == session.user %}
            {% if book.is_read == "no" %}
                <div class="book-in-card center">
                    <img class="stack-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                        alt="{{ book.book_title }} cover"><br>
                    <h3 class="stack-title"><strong>{{ book.book_title }}</strong></h3>
                    <p class="stack-author">{{ book.book_author }}</p>
                    <a href="{{ url_for('books.edit_book', book_id=book._id) }}"
                        class="stack-btn edit-button green lighten-3 waves-effect waves-light btn-small">Edit</a>
                    <p class="stack-unread-grn"><i class="material-icons grn-icon card-icons">
                        check_box</i>  Stack: Read Books</p>
                </div>
            {% else %}
                <div class="book-in-card center">
                    <img class="stack-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                        alt="{{ book.book_title }} cover"><br>
                    <h3 class="stack-title"><strong>{{ book.book_title }}</strong></h3>
                    <p class="stack-author">{{ book.book_author }}</p>
                    <a href="{{ url_for('books.edit_book', book_id=book._id) }}"
                        class="stack-btn edit-button green lighten-3 waves-effect waves-light btn-small">Edit</a>
                    <p class="stack-unread-red"><i class="material-icons red-icon card-icons">
                        report</i>  Stack: Unread Books</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}