{% extends "base.html" %}
{% block content %}

    <main>
        
        <h1 class="page-headers">Your stacks</h1>
        <div class="col s12 grid-card white full-card">
            <h2>To read:</h2>
            {% for book in books if book.added_by == session.user %}
                {% if book.is_read == "no" %}
                    <div class="book-in-card">
                        <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                            alt="{{ book.book_title }} cover"><br>
                        <h3 class="book-title"><strong>{{ book.book_title }}</strong></h3>
                        <p class="book-author">{{ book.book_author }}</p>
                        <a href="{{ url_for('books.edit_book', book_id=book._id) }}"
                            class="waves-effect waves-light btn">Edit</a>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
        <div class="col s12 grid-card white full-card">
            <h2>Books you've read:</h2>
            {% for book in books if book.added_by == session.user %}
                {% if book.is_read == "yes" %}
                    <div class="book-in-card">
                        <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                            alt="{{ book.book_title }} cover"><br>
                        <h3 class="book-title"><strong>{{ book.book_title }}</strong></h3>
                        <p class="book-author">{{ book.book_author }}</p>
                        <a href="{{ url_for('books.edit_book', book_id=book._id) }}"
                            class="waves-effect waves-light btn">Edit</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </main>

{% endblock %}