{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h1>{{ username }}'s Profile</h1>
        <p><strong>Username: </strong>{{ username }}</p>
        <p><strong>Total books you've read: </strong>{{ books_read }}</p>
        <p><strong>Books you have yet to read: </strong>{{ books_unread }}</p>
        <img src="{{ profile_picture}}" alt="">
        <button id="edit_profile_btn" class="waves-effect waves-light btn">Edit account</button>
        <a href="{{ url_for('authentication.delete_profile', username=session['user']) }}"
            class="waves-effect waves-light btn red">Delete account</a>
    </div>
   
    <!-- Edit profile form -->
    <div class="container hidden" id="edit_profile_form">W
        <h1>Edit profile</h1>
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('authentication.edit_profile', username=session['user']) }}">
                <div class="row">
                    <!-- Username -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="username" id="username" class="validate" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- Password -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" name="password" id="password" class="validate" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit button -->
                    <button class="btn waves-effect waves-light green lighten-1" id="register-form-btn" type="submit"
                        name="action">Make changes</button>
                    <a class="form-redirect-query" href="{{ url_for('main.dashboard') }}">Cancel changes</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}