{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ username }}'s Profile</h1>
        <div class="row">
            <div class="col s12 m8">
                <p><strong>Username: </strong>{{ username }}</p>
                <p><strong>Total books you've read: </strong>{{ books_read }}</p>
                <p><strong>Books you have yet to read: </strong>{{ books_unread }}</p>
            </div>
            <div class="col s12 m4">
                <img class="user-image" src="{{ user.user_image }}" alt="Your user profile pciture.">
            </div>
        </div>
        <button id="edit_profile_btn" class="green lighten-1 waves-effect waves-light btn">Edit account</button>
        <a href="{{ url_for('authentication.delete_profile', username=session['user']) }}"
            class="waves-effect waves-light btn red">Delete account</a>
    </div>
    <!-- Edit profile form -->
    <div class="container hidden" id="edit_profile_form">
        <h1>Edit profile</h1>
        <div class="row">
            <form enctype="multipart/form-data" class="col s12" method="POST" action="{{ url_for('authentication.edit_profile', username=session['user']) }}">
                <div class="row">
                    <!-- Username -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" name="username" id="username" class="validate" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="username" class="black-text">Username</label>
                    </div>
                    <!-- Password -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" name="password" id="password" class="validate" maxlength="20"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="password" class="black-text">Password</label>
                    </div>
                    
                </div>
                <div class="row">
                    <!-- User profile image -->
                    <div class="input-field col s12">
                        <div class="profile-label">Your profile picture:</div>
                        <input type="file" name="user_image" class="form-control validate" id="user_image" required>
                    </div>
                    <!-- Submit button -->
                    <button class="btn waves-effect waves-light green lighten-1" id="register-form-btn" type="submit"
                        name="action">Make changes</button>
                    <a class="form-redirect-query" href="{{ url_for('main.dashboard') }}">Cancel changes</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}